:root {
  --laranja-senac:#CD722B;
  --branco:white;
  --AzulPrincipal:#014A8E;
  --preto:#000000;
  --AzulSecundario:#1C6DB9;
  --brano-cinza:#E0E0E0;
}

/* Estilo para o Header */
.header {
  background-color: var(--branco);
  border-bottom: 2px solid var(--brano-cinza);
  padding: 10px 0;
  background-image: url('./img/fundo-header.png');
  height: 130px;
}

.header img {
  max-height: 90px;
}

/* Sidebar */
.custom-sidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--AzulPrincipal); /* Cor atualizada da barra lateral */
  color: var(--branco);
}

.custom-sidebar p{
  background-color: var(--AzulSecundario) ;
  border-radius:5px ;
  opacity: 80%;
}

.custom-sidebar a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--branco);
  font-size: 16px;
}

.custom-sidebar a:hover {
  background-color: var(--AzulSecundario);
  text-decoration: none;
}

#marked{
  background-color:var(--AzulSecundario) ;
  border-radius: 5px;
}

/* Calendário */
.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar td, .calendar th {
  width: 120px; /* Aumentando a largura */
  height: 120px; /* Aumentando a altura */
  vertical-align: top; /* Alinhando o texto no topo */
  padding: 10px; /* Adicionando preenchimento */
}

.calendar td {
  position: relative;
}

.calendar td::before {
  content: attr(data-day);
  position: absolute;
  top: 5px;
  right: 5px; /* Mudança para parte superior direita */
  font-weight: bold;
}

.calendar .active-day {
  background-color: #d1e7dd;
}

.calendar .highlighted-day {
  background-color: #b3e5fc; /* Azul claro */
  color: var(--AzulPrincipal); /* Azul escuro */
}

.calendar .highlighted-day small {
  display: block; /* Certificar que o texto fique abaixo */
  margin-top: 20px; /* Aumentar a separação */
}

.calendar small {
  font-size: 0.8rem;
  color: var(--AzulPrincipal);
}

/* Título e Subtítulo */
.main-title {
  text-align: left;
  margin-bottom: 10px;
}

.subtitle {
  text-align: left;
  color: var(--AzulPrincipal); /* Azul claro */
  opacity: 60%;
  margin-bottom: 20px;
}